* {
    margin: 0;
    padding: 0;
}

/* common classes */
section {
    margin: 80px 0;
}

.container {
    margin: auto;
}

/* header section */
.header-banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    border-radius: 16px;
}

header {
    font-family: "Merriweather", sans-serif;
}

.header-content {
    width: 45%;
    margin: auto;
    color: #fff;
    padding-top: 150px;
}

.header-h4 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}

.header-h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* off-section related styles */

.off-section {
    font-family: "inter", sans-serif;
}

.off-content {
    width: 50%;
    text-align: center;
    margin: auto;
}

.off-h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.off-h6 {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.off-h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.off-section img {
    width: 100%;
}

/* welcome to party section */

.welcome-banner {
    border-radius: 20px;
    margin: auto;
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    display: flex;
}

.welcome-h1 {
    color: #FFF;
    font-family: "Merriweather";
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.welcome-p {
    color: rgba(255, 255, 255, 0.80);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 35px;
}

.welcome-a {
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.welcome-content {
    margin: auto;
    padding: 126px;
}

.welcome-24 {
    margin: 68px 100px 68px 0;
}

/*------- party shedule section related styles -----*/

.time-shedule {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    margin: auto;
    border-radius: 16px;
    padding: 80px 0;
    text-align: center;
}

.shedule-h2 {
    color: #070211;
    font-family: "Inter";
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.shedule-h2 span {
    color: red;
}

.shedule-btn {
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #F00;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    margin-top: 48px;
}

/* best offer section related styles */
.best-offer-section {
    margin: 130px 0;
}



.best-offer-content {
    justify-content: center;
    display: flex;
    margin: 140px;
    gap: 120px;
}

.best-h2 {
    color: #F00;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
}

.best-h1 {
    color: #070211;
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.best-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

.best-img {
    padding: 1%;
    border-radius: 463px;
    border: 15px solid #F00;
}

.best-h2-2 {
    color: #F00;
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;
}

.best-offer {
    margin-top: 80px;
}

/* holiday sale section related styles */

.holiday-sale-heading {
    margin: auto;
    text-align: center;
    margin-bottom: 64px;
}

.sale-h4 {
    color: #070211;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
}

.sale-h1 span {
    color: red;
}

.sale-h1 {
    color: #070211;
    font-family: "Merriweather";
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.sale-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: "inter";
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}