* {
    margin: 0;
    padding: 0;
}

/* common classes */
section {
    margin: 80px 0;
}

/* header section */
.header-banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    border-radius: 16px;
}

header {
    font-family: "Merriweather", sans-serif;
}

.header-content {
    width: 45%;
    margin: auto;
    color: #fff;
    padding-top: 150px;
}

.header-h4 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}

.header-h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* off-section related styles */

.off-section {
    font-family: "inter", sans-serif;
}
.off-content {
    width: 50%;
    text-align: center;
    margin: auto;
}

.off-h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.off-h6 {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.off-h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.off-section img {
    width: 100%;
}