* {
    margin: 0;
    padding: 0;
}

/* common classes */
section {
    margin: 80px 0;
}

.container {
    margin: auto;
}

/* header section */
.header-banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    border-radius: 16px;
}

header {
    font-family: "Merriweather", sans-serif;
}

.header-content {
    width: 45%;
    margin: auto;
    color: #fff;
    padding-top: 150px;
}

.header-h4 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}

.header-h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* off-section related styles */

.off-section {
    font-family: "inter", sans-serif;
}

.off-content {
    width: 50%;
    text-align: center;
    margin: auto;
}

.off-h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.off-h6 {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.off-h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.off-section img {
    width: 100%;
}

/* welcome to party section */

.welcome-banner {
    border-radius: 20px;
    margin: auto;
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    display: flex;
}

.welcome-h1 {
    color: #FFF;
    font-family: "Merriweather";
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.welcome-p {
    color: rgba(255, 255, 255, 0.80);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 35px;
}

.welcome-a {
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.welcome-content {
    margin: auto;
    padding: 126px;
}

.welcome-24 {
    margin: 68px 100px 68px 0;
}

/*------- party shedule section related styles -----*/

.time-shedule {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    margin: auto;
    border-radius: 16px;
    padding: 80px 0;
    text-align: center;
}

.shedule-h2 {
    color: #070211;
    font-family: "Inter";
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.shedule-h2 span {
    color: red;
}

.shedule-btn {
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #F00;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    margin-top: 48px;
}

/* best offer section related styles */
.best-offer-section {
    margin: 130px 0;
}



.best-offer-content {
    justify-content: center;
    display: flex;
    margin: 140px;
    gap: 120px;
}

.best-h2 {
    color: #F00;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
}

.best-h1 {
    color: #070211;
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.best-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

.best-img {
    padding: 1%;
    border-radius: 463px;
    border: 15px solid #F00;
}

.best-h2-2 {
    color: #F00;
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;
}

.best-offer {
    margin-top: 80px;
}

/* holiday sale section related styles */

.holiday-sale-heading {
    margin: auto;
    text-align: center;
    margin-bottom: 64px;
}

.sale-h4 {
    color: #070211;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
}

.sale-h1 span {
    color: red;
}

.sale-h1 {
    color: #070211;
    font-family: "Merriweather";
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.sale-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: "inter";
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.holiday-sale-img {
    margin: auto;
    width: 85%;
    height: 85vh;
    position: relative;
}

.img0 {
    position: absolute;
    left: 62%;
    z-index: 1;
    margin-top: 140px;
}

.img3 {
    width: 45%;
    position: absolute;
    bottom: 0;
    left: 5%;
}

.img3 img {
    width: 100%;
}

.img2 {
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 30%;
}

.img2 img {
    width: 100%;
    vertical-align: middle;
}

.img1 {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
}

.img1 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* portfolio section related styles */

.portfolio-section {
    margin: 50px 140px;
}

.portfolio-h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: "inter";
    margin-bottom: 16px;
}

.portfolio-h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    font-family: "Merriweather";
}

.portfolio-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: "inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 50px;
}

.portfolio-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio_img img {
    width: 520px;
    height: 520px;
    flex-shrink: 0;
}

/* -----------news letter related styles--------------- */

.news-letter {
    width: auto;
    height: 616px;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    text-align: center;
}

.news-letter-section {
    margin: 120px 140px;
}

.news-h1 {
    color: #070211;
    font-family: "Merriweather";
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.news-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.news-form {
    margin: 48px 660px 70px 366px;
}

.email-input {
    text-align: center;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    padding: 20px 250px 20px 30px;
    color: rgba(7, 2, 17, 0.30);
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    border: none;
}

.sub-input {
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    padding: 18px 50px;
    position: absolute;
    margin-left: 0;
    cursor: pointer;
}

.news-header img {
    margin: 70px 0 30px 0;
}

input[type="email"]:focus {
    outline: none;
    background-color: aliceblue;
}

input[type="submit"]:focus {
    background-color: black;
    transition: 1.5s;
}

/* footer related styles */

footer {
    background-color: #070211;
    width: 1903px;
    height: 609px;
}

.phone-n-address {
    display: flex;
    justify-content: space-between;
}

.address {
    color: #FFF;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 100px;
    margin-left: 140px;
}

.phone {
    color: #FFF;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 100px;
    margin-right: 275px;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    height: 0.1px;
    margin: 50px 140px;
}

.footer-a-links {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 20px;
}

.footer-footer h4 {
    color: #FFF;
    font-family: " Inter";
    font-size: 24px;
    font-weight: 500;
}
.footer-footer {
    display: flex;
    justify-content: space-between;
}
.foot-h4-4 {
    margin-bottom: 120px;
    margin-left: 140px;
}
.foot-h4-3 {
    cursor: pointer;
    margin-bottom: 120px;
    margin-right: 140px;
}